<h2 align= "center">To-Do List</h2>
<form action="/" method="POST" class="todo-header">
<table align = "center"><tr><td>
<input type="text" name="content" required></td>
<td><button class ="button button4" type="submit">ADD TODO</button></td></tr></table>
</form>